.module3 {
  width: 100%;
  height: 640px;
  padding: 0 15px;
  background-color: $ice-blue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  @media all and (min-width: 768px) {
    height: 397px;
    padding: 0 35.7px 0 39px;
    grid-template-columns: 1fr 27.7px 1fr 27.7px 1fr;
    grid-template-rows: 120px 30px 142px 105px;
  }
  @media all and (min-width: 1280px) {
    height: 427px;
    padding: 0 85px 0 81.2px;
    grid-template-columns: 1fr 26.2px 1fr 26.2px 1fr;
    grid-template-rows: 150px 30px 142px 105px;
  }
}
.module3__title {
  margin: 30px 0 45px 0;
  text-align: center;
  height: 30px;
  @media all and (min-width: 768px) {
    grid-column: 1/6;
    grid-row: 1;
    margin-right: auto;
    margin-left: auto;
    width: 450px;
    height: 45px;
  }
  @media all and (min-width: 1280px) {
    margin-top: 60px;
    width: 730px;
  }
}

.module3__reasons {
  &--title {
    font-family: $roboto-slab;
    font-size: $main__font-size;
    line-height: 30px;
    height: 30px;
    width: 184px;
    text-align: center;
    margin: auto;
    @media all and (min-width: 768px) {
      font-size: 24px;
      width: 210px;
      grid-row: 2;
    }
    @media all and (min-width: 1280px) {
      width: 350px;
    }

    &1 {
      @media all and (min-width: 768px) {
        grid-column: 1/2;
      }
    }
    &2 {
      @media all and (min-width: 768px) {
        grid-column: 3/4;
      }
    }
    &3 {
      @media all and (min-width: 768px) {
        grid-column: 5/6;
      }
    }
  }

  &--text {
    font-size: $main__font-size;
    line-height: 30px;
    width: 180px;
    height: 63px;
    text-align: center;
    margin: 0 auto 45px auto;
    @media all and (min-width: 768px) {
      grid-row: 3;
      font-size: 20px;
      width: 212.3px;
      height: 68px;
      margin-top: 14px;
      margin-bottom: 60px;
    }
    @media all and (min-width: 1280px) {
      width: 353.8px;
    }
    &1 {
      @media all and (min-width: 768px) {
        grid-column: 1/2;
      }
    }
    &2 {
      @media all and (min-width: 768px) {
        grid-column: 3/4;
      }
    }
    &3 {
      @media all and (min-width: 768px) {
        grid-column: 5/6;
      }
    }
  }
}
.module3__button {
  width: 184px;
  height: 45px;
  color: $white;
  background-color: $bright-orange;
  border-radius: 22.5px;
  transition: all ease 0.8s;
  margin: 0 auto 60px auto;

  @media all and (min-width: 768px) {
    width: 210px;
    grid-column: 1/6;
    grid-row: 4;
  }
  @media all and (min-width: 1280px) {
    width: 255px;
  }

  &:hover {
    background-color: $cerulean;
    color: $white;
    border: solid 2px $dark-grey-blue;
  }

  &--text {
    height: 45px;
    width: 124px;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    margin: 0 25px 0 26px;
    @media all and (min-width: 768px) {
      margin: auto;
      grid-column: 1/4;
      grid-row: 4;
    }
  }
}
.module3__scroll--arrow {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: $white;
    margin-top: -22.5px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transition: background-color ease 0.8s;
    &:hover {
      background-color: $cerulean;
      border: solid 2px $white;
    }
  }
  &-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 20.6px;
    padding: 11px 12px 10px 12px;
  }
}
