<footer class="page__footer">
  <section class="footer__links--pages">
    <nav>
      <ul class="footer__links">
        <li class="footer__links--list">
          <a
            href="https://adalab.es/"
            target="_blank"
            class="footer__links--link"
            >Articles</a
          >
        </li>
        <li class="footer__links--list">
          <a
            href="https://adalab.es/"
            target="_blank"
            class="footer__links--link"
            >Books</a
          >
        </li>
        <li class="footer__links--list">
          <a
            href="https://adalab.es/"
            target="_blank"
            class="footer__links--link"
            >Events</a
          >
        </li>
        <li class="footer__links--list">
          <a
            href="https://adalab.es/"
            target="_blank"
            class="footer__links--link"
            >Reasons</a
          >
        </li>
        <li class="footer__links--list">
          <a
            href="https://adalab.es/"
            target="_blank"
            class="footer__links--link"
            >Tips</a
          >
        </li>
      </ul>
    </nav>
  </section>
  <section class="footer__links--rrss">
    <nav>
      <ul class="footer__links">
        <li class="footer__links--list">
          <a
            href="https://adalab.es/"
            target="_blank"
            class="footer__links--link"
            >Twitter</a
          >
        </li>
        <li class="footer__links--list">
          <a
            href="https://adalab.es/"
            target="_blank"
            class="footer__links--link"
            >Instagram</a
          >
        </li>
        <li class="footer__links--list">
          <a
            href="https://adalab.es/"
            target="_blank"
            class="footer__links--link"
            >Mastodon.social</a
          >
        </li>
      </ul>
    </nav>
  </section>

  <div class="footer_copyandwelove--container">
    <section class="footer__copy">&copy;2021</section>
    <section class="footer__welove">
      <small
        >we <i class="fas fa-heart"></i>
        <span class="footer__welove--component">components</span>
      </small>
    </section>
  </div>
</footer>
