<footer class="page__footer">
  <div class="footer__elements--arrow-container">
    <a class="footer__elements--arrow-image" href=""
      ><img
        src="./assets/images/ico-arrow.svg"
        alt="Arrow button"
        title="Arrow button"
    /></a>
  </div>
  <nav>
    <ul class="footer__links">
      <li class="footer__links--list">
        <a href="https://adalab.es/" target="_blank" class="footer__links--link"
          >Articles</a
        >
      </li>
      <li class="footer__links--list">
        <a href="https://adalab.es/" target="_blank" class="footer__links--link"
          >Books</a
        >
      </li>
      <li class="footer__links--list">
        <a href="https://adalab.es/" target="_blank" class="footer__links--link"
          >Events</a
        >
      </li>
      <li class="footer__links--list">
        <a href="https://adalab.es/" target="_blank" class="footer__links--link"
          >Reasons</a
        >
      </li>
      <li class="footer__links--list">
        <a href="https://adalab.es/" target="_blank" class="footer__links--link"
          >Tips</a
        >
      </li>
    </ul>
  </nav>
  <nav>
    <ul class="footer__links">
      <li class="footer__links--list">
        <a href="https://adalab.es/" target="_blank" class="footer__links--link"
          >Twitter</a
        >
      </li>
      <li class="footer__links--list">
        <a href="https://adalab.es/" target="_blank" class="footer__links--link"
          >Instagram</a
        >
      </li>
      <li class="footer__links--list">
        <a href="https://adalab.es/" target="_blank" class="footer__links--link"
          >Mastodon.social</a
        >
      </li>
    </ul>
  </nav>
  <section class="footer__copy">&copy; 2021</section>
  <section class="footer__welove">
    <p class="footer__welove--text">
      we<i class="fas fa-heart"></i> components
    </p>
  </section>
</footer>
