<header class="page__header">
  <div class="header__hamburger--container">
    <a class="header__hamburger--link" href="https://adalab.es/" target="_blank"
      ><img
        class="header__hamburger--image"
        src="./assets/images/ico-menu.svg"
        alt="Hamburger button"
        title="Hamburger button"
    /></a>
  </div>
  <div class="header__elements--container">
    <h1 class="header__elements--title">Anonymous proxy</h1>
    <p class="header__elements--subtitle">In hac habitasse platea dictumst.</p>
  </div>
  <div class="header__elements--scroll-container">
    <a class="header__elements--scroll-image" href=""
      ><img
        src="./assets/images/ico-scroll-down.svg"
        alt="Scroll button"
        title="Scroll button"
    /></a>
  </div>
</header>
